.dialog-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 0.5rem;
  min-width: clamp(16rem, 80vw, 24rem);
}

.full-width {
  width: 100%;
}

.dialog-actions {
  padding: 1rem 1.5rem;
  gap: 0.5rem;
}

.dialog-btn {
  min-height: 3rem;
  min-width: 5rem;
}
